{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% extends 'base.html.twig' %}

{% block body %}
<h1>Tableau de bord Admin</h1>
<h2>Utilisateurs</h2>
<ul>
    {% for utilisateur in utilisateurs %}
        <li>{{ utilisateur.nom }} ({{ utilisateur.email }})</li>
    {% endfor %}
</ul>
{% endblock %}
